<!-- <div class="header">
<img src="http://www.free-icons-download.net/images/microphone-logo-icon-63245.png" height="50px" width="50px">
<h1>HOWL - Rate your artists, LIVE!</h1>

<form action="/artist" method="GET">

<input type="text" name="artist" placeholder="Search .."/>

<button> Search </button>

</form>
</div> -->




<!-- holding the middle columns -->
<div class="main">

<!-- Left column with artist info -->
<ul class="left">

<img src="<%= @artist.picture %>" height="200px" width="200px" border="2px"/>
<li> <h2> <%= @artist.name %> </h2> </li>
<li> <%= @artist.genre %> </li>

</ul>


<!-- Holding user posts in right column-->
<ul class="posts"> 

<div class="comments"> 
	<% @artist.comments.each do |comment| %>
		<li> <h5 class="un"><%= comment.user.username%> - </h5>  <h3><%= comment.comment %></h3></li> 
	<% end %>

</div>



<!-- Submition form under user posts-->
<div class="submit">
<div class="input">
<form action="/artist" method="POST">
	<input type="text" name="comment" placeholder="Add a comment" />
	
	<input type="hidden" name="artist_id" value=" <%= @artist.id %>" placeholder="Add a comment"/>

	<button> Post </button>

</form>
</div>
</div>

</ul>



</div>










